@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    scroll-behavior: smooth;
}

.navbar {
    width: 75%;
    margin-left: auto;
}

.sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 30px;
}

.navbar-brand img {
    width: 130px;
    height: 70px;
}

.nav-item a:hover {
    color: #000;
    font-size: 16px;
}

.container1{
    display: flex;
    width: 100%;
    /* height: 100vh; */
}

aside{
    padding: 5% 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    height: 100vh;
    justify-content: center;
    width: 24%;
}

.side-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-icons h4 a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.side-icons h4 a:hover {
    text-decoration: underline;
    color: #fff;
    font-weight: 600;
}

.side-icons img{
    width: 3vh;
}

.side-icons p{
    font-size: 10px;
    margin: -5px;
}

.main-container{
    width: 100%;
}

.card-container{
    width: 70%;
    margin-left: auto;
    padding: 20px;
}

.card-container b {
    font-weight: 800;
}

.card-container h2 {
    font-size: 2.1rem;
    font-weight: 600;
}

.card-container1 {
    width: 80%;
    margin-left: auto;
    height: auto;
    padding: 20px;
}

.card-container1 b {
    font-weight: 800;
}

.card-container1 p {
    font-weight: 300;
    /* font-size: 1.1rem; */
    text-align: justify;
}

.card-container1 h2 {
    font-weight: 600;
}

.card-container p {
    /* font-size: 1.1rem; */
    font-weight: 300;
    text-align: justify;
}


footer {
    background-color: #ccc;
    color: #333;
    width: 77.5%;
    margin-left: auto;
  }
  
  footer h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #666;
    text-decoration: none;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #666;
    text-decoration: none;
    font-size: 18px;
  }

.what-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .what-img {
    width: 75%;
    height: 50vh;
  }

  .tools-img {
    width: 100%;
    height: 50vh;
  }
  .use-img {
    width: 100%;
    height: 70vh;
  }
  .task-img {
    width: 80%;
    height: 40vh;
    margin: 26px auto;
  }

  footer {
    padding: 2% 10%;
  }

  footer ul li a:hover {
    color: #000;
  }

  @media (max-width: 768px) {
    footer .container {
      text-align: center;
    }
  
    footer .col-md-4 {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 870px) {
    footer {
        width: 100%;
    }    
    .card-container1 {
        width: 100%;
        margin-left: 0;
    }
    .card-container {
        width: 100%;
        margin-left: 0;
    }
    aside {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: black;
        transition: left 0.3s ease-in-out;
        z-index: 999;
      }
    
      aside.show {
        left: 0;
      }
      .navbar ul {
        display: none;
      }
    
  }
  /* New aside  */
 
 
  .close-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media (max-width: 867px) {
    .close-button {
      display: block;
      color: #fff;
    }
  }